body {
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.pros {
    color: green;
}

.cons {
    color: red;
}

.hero-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-card img {
    max-width: 250px;
    margin-right: 20px;
    vertical-align: middle;
}

.hero-card h2 {
    font-size: 24px;
    margin-top: 0;
}

.hero-card p {
    margin: 8px 0;
}

.hero-card .pros-cons,
.hero-card .counters-items {
    margin-top: 20px;
}

.hero-card .pros-cons ul,
.hero-card .counters-items .images {
    list-style: none;
    padding: 0;
}

.hero-card .counters-items .images img {
    max-width: 80px;
    margin: 5px;
    border-radius: 8px;
}
